<app-left-menu (addElement)="addElement($event)"></app-left-menu>
<div id="builder-editor" class="builder-editor">
  <div id="builder-mouse-hold" class="builder-mouse-hold ladi-hidden"></div>
  <div id="builder-container" class="builder-container ladi-wraper">
    <ng-container *ngFor="let section of sectionArray; index as indexSection">
      <div
        [id]="section.idSection"
        [attr.data-id]="section.id"
        [attr.data-index]="indexSection"
        class="ladi-section"
        [style.height.px]="section.height"
        appSection
        (click)="setIndexSelect(indexSection)"
      >
        <div class="ladi-section-background"></div>
        <div class="ladi-overlay"></div>
        <div class="ladi-container">
          <ng-container
            *ngFor="let itemElement of section.element; index as indexElement"
          >
            <ng-container [ngSwitch]="itemElement.elementType">
              <ng-container *ngSwitchCase="MenuChildAddNew.BUTTON">
                <!--  appDragging
                  [isDrag]="isDrag" -->
                <div
                  appDragging
                  [isDrag]="isDrag"
                  [attr.data-id]="'BUTTON' + itemElement.id"
                  [attr.data-sectionIndex]="indexSection"
                  [attr.data-elementIndex]="indexElement"
                  [style.width.px]="itemElement.width"
                  [style.height.px]="itemElement.height"
                  [style.top.px]="itemElement.top"
                  [style.left.px]="itemElement.left"
                  class="ladi-element"
                >
                  <div class="ladi-button">
                    <div
                      class="ladi-button-background"
                      style="
                        background-image: linear-gradient(
                          rgb(13, 97, 242),
                          rgb(47, 123, 254)
                        );
                      "
                    ></div>
                    <div class="ladi-overlay"></div>
                    <div
                      id="BUTTON_TEXT2"
                      style="width: 160px; top: 9px; left: 0px"
                      class="ladi-element"
                    >
                      <p
                        class="ladi-headline"
                        style="
                          color: rgb(255, 255, 255);
                          font-size: 14px;
                          font-weight: bold;
                          text-align: center;
                          line-height: 1.6;
                        "
                        [innerHTML]="itemElement.innerHtml"
                        (blur)="blur($event, indexElement, indexSection)"
                      ></p>
                    </div>
                  </div>
                  <div
                    data-id="BUTTON2"
                    data-locked="false"
                    class="ladi-selected ladi-size"
                  ></div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="MenuChildAddNew.TITLE">
                <div
                  appDragging
                  [isDrag]="isDrag"
                  [attr.data-id]="'HEADLINE' + itemElement.id"
                  [attr.data-sectionIndex]="indexSection"
                  [attr.data-elementIndex]="indexElement"
                  [style.width.px]="itemElement.width"
                  [style.top.px]="itemElement.top"
                  [style.left.px]="itemElement.left"
                  [style.height.px]="itemElement.height"
                  class="ladi-element"
                >
                  <h3
                    class="ladi-headline"
                    style="
                      color: rgb(0, 0, 0);
                      font-size: 16px;
                      line-height: 1.6;
                    "
                    [innerHTML]="itemElement.innerHtml"
                    (blur)="blur($event, indexElement, indexSection)"
                  ></h3>
                  <div
                    data-id="BUTTON2"
                    data-locked="false"
                    class="ladi-selected ladi-size"
                  ></div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="MenuChildAddNew.IMAGE">
                <div
                  appDragging
                  [isDrag]="isDrag"
                  [attr.data-id]="'IMAGE' + itemElement.id"
                  [attr.data-sectionIndex]="indexSection"
                  [attr.data-elementIndex]="indexElement"
                  [style.width.px]="itemElement.width"
                  [style.height.px]="itemElement.height"
                  [style.top.px]="itemElement.top"
                  [style.left.px]="itemElement.left"
                  class="ladi-element"
                >
                  <div class="ladi-image">
                    <div
                      class="ladi-image-background"
                      style="top: 0px; left: 0px"
                      [style.width.px]="itemElement.width"
                      [style.height.px]="itemElement.height"
                      [style.background-image]="
                        'url(' + itemElement.urlImage + ')'
                      "
                    ></div>
                    <div class="ladi-overlay"></div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div id="SECTION_POPUP" class="ladi-section" style="height: 0px">
      <div class="ladi-section-background"></div>
      <div class="ladi-overlay"></div>
      <div class="ladi-container"></div>
    </div>
  </div>
  <div id="builder-preview" class="ladi-hidden"></div>
  <div
    *ngIf="sectionArray.length == 0"
    (click)="addNewSection()"
    class="builder-button-no-section"
    translate=""
  >
    Thêm mới Section
  </div>
  <div id="backdrop-popup" class="backdrop-popup"></div>
  <div id="lightbox-screen" class="lightbox-screen"></div>
  <div id="builder-rotate-text" class="builder-rotate-text ladi-hidden"></div>
  <div id="builder-snap-grid" class="builder-grid ladi-hidden"></div>
</div>

<div #sectionResize class="ladi-resize ladi-s-resize">
  <div class="ladi-button-add-section ladi-font-default">Thêm mới Section</div>
  <div class="ladi-resize-display">
    <i class="ladi-icon icon-cross-vertical ladi-resize-display-icon"></i>
  </div>
</div>
<app-quick-editor
  #quickEditor
  [quickEditorTop]="quickEditorTop"
  [quickEditorLeft]="quickEditorLeft"
  [ngStyle]="{ display: hasSelectedElement ? 'block' : 'none' }"
></app-quick-editor>
<div
  #builderSnapLeft
  id="builder-snap-left"
  class="builder-snap ladi-hidden"
  style="top: 0px; height: 100%"
></div>
<div
  #builderSnapTop
  id="builder-snap-top"
  class="builder-snap ladi-hidden"
  style="left: 0px; width: 100%"
></div>
