<div #builderBorderLeft class="builder-border-left"></div>
<div #builderBorderRight class="builder-border-right"></div>
<!-- <button (click)="addElement()">add</button>
<div class="builder-container" #container>
  <div class="ladi-element" #ladielement1 appDragging style="width: 200px">
    <h3 class="ladi-headline">Lê Văn Trường</h3>
  </div>
</div>
<div
  class="ladi-element"
  #ladiheading
  appDragging
  style="width: 200px; display: none"
>
  <h3 class="ladi-headline">Lê Văn Trường</h3>
</div> -->
<app-builder-editor></app-builder-editor>
<app-right-menu></app-right-menu>
